# Import packages

In [19]:
from textblob import TextBlob # sentiment analysis of textual data
import numpy as np # numeric and logical computation
import pandas as pd # data manipulation
import datetime # data type manipulation
from sklearn.model_selection import train_test_split # splitting data into train and test sets
from sklearn.linear_model import LinearRegression # LinearRegression model object
import sklearn.metrics # evaluation metrics

# Import and clean data

In [3]:
# read in relevant columns of Kaggle dataset 
reviews = pd.read_excel('AirlineReviews.xlsx', 
                      header = 0, 
                      usecols = ['AirlineName', 'CabinType', 'DateFlown','EntertainmentRating', 'FoodRating', \
                                 'GroundServiceRating', 'OverallScore', 'Recommended', 'Review', \
                                 'SeatComfortRating', 'ServiceRating', 'TravelType', 'ValueRating', 'WifiRating', 'Route'])

# analyze shape of dataframe (num rows and columns)
print(reviews.shape)

# drop rows that have missing data
reviews = reviews.dropna(axis = 0)

# split route into origin/destination
reviews[['OriginCity', 'DestinationCity']] = reviews['Route'].str.split(' to ', expand = True)[[0,1]]
reviews['DestinationCity'] = reviews['DestinationCity'].str.split(' via ').str[0]
reviews.drop('Route', axis = 1)

# handle data types, column ordering, and row indexing
reviews['DateFlown'] = pd.to_datetime(reviews['DateFlown'])
reviews = reviews[['AirlineName', 'DateFlown', 'CabinType', 'TravelType', 'OriginCity', 'DestinationCity', \
                   'Recommended', 'Review', 'OverallScore', 'EntertainmentRating', 'FoodRating', \
                   'GroundServiceRating', 'SeatComfortRating', 'ServiceRating', 'ValueRating', 'WifiRating']]
reviews.reset_index(drop = True, inplace = True)

#reanalyze shape to ensure we have enough data for analysis
print(reviews.shape)

(129455, 15)
(89843, 16)

In [4]:
# get minimum and maximum dates to understand time period we are analyzing
print(reviews['DateFlown'].min())
print(reviews['DateFlown'].max())

2012-04-01 00:00:00
2023-05-01 00:00:00

# Add polarity columns representing review sentiment

In [5]:
# create empty dataframe to add sentiment information
sentiments = pd.DataFrame(columns = ['Polarity'])

#calculate polarity for each review and add value to sentiments dataframe
for index, row in reviews.iterrows():
    polarity = TextBlob(row['Review']).sentiment.polarity
    sentiments.loc[len(sentiments)] = [polarity]

In [6]:
# add sentiments dataframe to original reviews dataframe
reviews = pd.concat([reviews, sentiments], axis = 1)

In [7]:
# verify accurate concatentation of dataframes
reviews.tail()

,AirlineName,DateFlown,CabinType,TravelType,OriginCity,DestinationCity,Recommended,Review,OverallScore,EntertainmentRating,FoodRating,GroundServiceRating,SeatComfortRating,ServiceRating,ValueRating,WifiRating,Polarity
89838,Wizz Air,2015-05-01,Economy Class,Solo Leisure,Budapest,Barcelona,yes,"If you are going with them, you need to learn ...",8.0,0,0,2,1,1,5,0,-0.083333
89839,Wizz Air,2015-06-01,Economy Class,Family Leisure,Rome,Bucharest,no,We went to Ciampino airport 3 hours early and ...,1.0,1,1,1,1,2,1,1,0.082000
89840,Wizz Air,2015-04-01,Economy Class,Solo Leisure,London Luton,Budapest,no,I had never heard of Wizz Air before but as th...,1.0,0,0,2,2,1,2,0,0.100880
89841,Wizz Air,2015-06-01,Economy Class,Couple Leisure,Budapest,Tel Aviv,no,Very disappointing experience. The airline cha...,1.0,0,0,1,2,2,1,0,-0.006571
89842,Wizz Air,2015-02-01,Economy Class,Family Leisure,Budapest,Dubai,no,Wizz Air is hands down the worst airline in al...,1.0,0,1,1,1,1,1,0,-0.220062

In [8]:
# export cleaned dataframe with polarity to spreadsheet for further visualization
reviews.to_excel("reviewsPolarityClean.xlsx", index = False)

In [9]:
# get descriptive statistics for ratings and polarities
reviews.describe()

,OverallScore,EntertainmentRating,FoodRating,GroundServiceRating,SeatComfortRating,ServiceRating,ValueRating,WifiRating,Polarity
count,89843.000000,89843.000000,89843.000000,89843.000000,89843.000000,89843.000000,89843.000000,89843.000000,89843.000000
mean,3.988647,1.452701,1.879857,2.350756,2.459413,2.696359,2.471133,0.646784,0.065636
std,3.436031,1.719415,1.750159,1.636326,1.556247,1.712828,1.600606,1.238158,0.215369
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,-0.058520
50%,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.056250
75%,8.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,1.000000,0.197718
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

# Analyze how ratings affect polarity

In [10]:
# get mean polarity for every available combination of rating
polarityByRatings = reviews.groupby(['EntertainmentRating', 'FoodRating', 'GroundServiceRating', 'SeatComfortRating', \
                                     'ServiceRating', 'ValueRating', 'WifiRating']).mean()

polarityByRatings

                                                                                                           OverallScore  \
EntertainmentRating FoodRating GroundServiceRating SeatComfortRating ServiceRating ValueRating WifiRating
0                   0          0                   0                 0             0           0               1.125000
                                                                                   1           0               1.095187
                                                                                               1               1.250000
                                                                                               2               1.000000
                                                                                   2           0               1.531429
...                                                                                                                 ...
5                   5          5                   5                 5             5           1               9.750000
                                                                                               2               9.700000
                                                                                               3               9.672131
                                                                                               4               9.720339
                                                                                               5               9.871098

                                                                                                           Polarity
EntertainmentRating FoodRating GroundServiceRating SeatComfortRating ServiceRating ValueRating WifiRating
0                   0          0                   0                 0             0           0           0.083895
                                                                                   1           0          -0.009675
                                                                                               1          -0.046561
                                                                                               2           0.183333
                                                                                   2           0           0.009697
...                                                                                                             ...
5                   5          5                   5                 5             5           1           0.336905
                                                                                               2           0.301774
                                                                                               3           0.336530
                                                                                               4           0.365202
                                                                                               5           0.354613

[16189 rows x 2 columns]

### The cells below explore how an increase by one of any rating affects the polarity of reviews

In the first cell, wifi rating's relationship with polarity is explored. Loops iterate through every possible combination of the other six ratings. For every rating combination in the polarityByRatings dataframe, the mean polarity values for every wifi rating associated with that combination are isolated. The mean difference in polarity from one wifi rating to another with the given combination of other ratings is calculated and appended to the initalized list. Then the values in the list are averaged, handling for potential NaNs also appended by the for loop. The value printed is what an airline can expect the polarity of their review to increase by when the wifi rating increases by one. This is done for all seven ratings in the cells below. This can be used to interpret which aspects of an airline's product have had the largest impact on positive reviews from 2014 to 2023.


###### e = entertainment, f = food, gS = ground service, sC = seat comfortability, s = service, v = value, w = wifi

### Wifi

In [11]:
meanPolarityDiffsW = []

for e in range(6):
    for f in range(6):
        for gS in range(6):
            for sC in range(6):
                for s in range(6):
                    for v in range(6):
                        try:
                            meanPolarityDiffsW.append(
                                polarityByRatings.loc[pd.IndexSlice[e, f, gS, sC, s, v, :]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsW)[np.logical_not(np.isnan(np.array(meanPolarityDiffsW)))]))

-0.004532878799570864

### Value

In [12]:
meanPolarityDiffsV = []

for e in range(6):
    for f in range(6):
        for gS in range(6):
            for sC in range(6):
                for s in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsV.append(
                                polarityByRatings.loc[pd.IndexSlice[e, f, gS, sC, s, :, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsV)[np.logical_not(np.isnan(np.array(meanPolarityDiffsV)))]))

0.03371714502067232

### Service

In [13]:
meanPolarityDiffsS = []

for e in range(6):
    for f in range(6):
        for gS in range(6):
            for sC in range(6):
                for v in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsS.append(
                                polarityByRatings.loc[pd.IndexSlice[e, f, gS, sC, :, v, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsS)[np.logical_not(np.isnan(np.array(meanPolarityDiffsS)))]))

0.023471429826453588

### Seat Comfortability

In [14]:
meanPolarityDiffsSC = []

for e in range(6):
    for f in range(6):
        for gS in range(6):
            for s in range(6):
                for v in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsSC.append(
                                polarityByRatings.loc[pd.IndexSlice[e, f, gS, :, s, v, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsSC)[np.logical_not(np.isnan(np.array(meanPolarityDiffsSC)))]))

0.022765500254940153

### Ground Service

In [15]:
meanPolarityDiffsGS = []

for e in range(6):
    for f in range(6):
        for sC in range(6):
            for s in range(6):
                for v in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsGS.append(
                                polarityByRatings.loc[pd.IndexSlice[e, f, :, sC, s, v, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsGS)[np.logical_not(np.isnan(np.array(meanPolarityDiffsGS)))]))

0.026840621223430366

### Food

In [16]:
meanPolarityDiffsF = []

for e in range(6):
    for gS in range(6):
        for sC in range(6):
            for s in range(6):
                for v in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsF.append(
                                polarityByRatings.loc[pd.IndexSlice[e, :, gS, sC, s, v, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsF)[np.logical_not(np.isnan(np.array(meanPolarityDiffsF)))]))

0.01680920391806202

### Entertainment

In [17]:
meanPolarityDiffsE = []

for f in range(6):
    for gS in range(6):
        for sC in range(6):
            for s in range(6):
                for v in range(6):
                    for w in range(6):
                        try:
                            meanPolarityDiffsE.append(
                                polarityByRatings.loc[pd.IndexSlice[:, f, gS, sC, s, v, w]].diff().mean()['Polarity'])
                        except:
                            pass
                        
print(np.mean(np.array(meanPolarityDiffsE)[np.logical_not(np.isnan(np.array(meanPolarityDiffsE)))]))

0.002653060056288826

# Construct linear regression model to predict overall score

In [9]:
# create new month flown variable and one-hot encode to capture seasonality
reviews['MonthFlown'] = [each.month for each in reviews['DateFlown']]

# add categorical one hot encoded values to original reviews dataframe
reviews = pd.concat([reviews, \
                    pd.get_dummies(reviews['MonthFlown'], "month", drop_first = True), \
                    pd.get_dummies(reviews['CabinType'], "cabin", drop_first = True), \
                    pd.get_dummies(reviews['TravelType'], "travel", drop_first = True), \
                    pd.get_dummies(reviews['Recommended'], "rec", drop_first = True)], axis = 1)


# drop columns that were one hot encoded
reviews = reviews.drop(['MonthFlown', 'CabinType', 'TravelType', 'Recommended'], axis = 1)

# display reviews with one hot encoded columns
reviews.columns

Index(['AirlineName', 'DateFlown', 'OriginCity', 'DestinationCity', 'Review',
       'OverallScore', 'EntertainmentRating', 'FoodRating',
       'GroundServiceRating', 'SeatComfortRating', 'ServiceRating',
       'ValueRating', 'WifiRating', 'Polarity', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'cabin_Economy Class',
       'cabin_First Class', 'cabin_Premium Economy', 'travel_Couple Leisure',
       'travel_Family Leisure', 'travel_Solo Leisure', 'rec_yes'],
      dtype='object')

In [10]:
# inspect correlation of features to avoid multicollinearity
reviews.corr()

,OverallScore,EntertainmentRating,FoodRating,GroundServiceRating,SeatComfortRating,ServiceRating,ValueRating,WifiRating,Polarity,month_2,...,month_10,month_11,month_12,cabin_Economy Class,cabin_First Class,cabin_Premium Economy,travel_Couple Leisure,travel_Family Leisure,travel_Solo Leisure,rec_yes
OverallScore,1.000000,0.471039,0.700014,0.847427,0.781089,0.782011,0.905319,0.180042,0.655100,0.014867,...,0.022316,0.025992,-0.018299,-0.215712,0.056554,0.029698,-0.040269,-0.062046,0.088078,0.912478
EntertainmentRating,0.471039,1.000000,0.622689,0.440052,0.503226,0.458833,0.447490,0.430914,0.335196,0.004342,...,0.008521,0.016433,-0.005628,-0.258363,0.060141,0.078194,-0.021610,-0.024287,0.026909,0.420371
FoodRating,0.700014,0.622689,1.000000,0.630528,0.677018,0.693567,0.662131,0.285904,0.496225,0.009829,...,0.016032,0.017355,-0.007662,-0.276416,0.070123,0.044804,-0.035256,-0.054371,0.055997,0.645304
GroundServiceRating,0.847427,0.440052,0.630528,1.000000,0.731344,0.732151,0.802733,0.176521,0.573583,0.015426,...,0.024938,0.026778,-0.015618,-0.205370,0.061486,0.041396,-0.031606,-0.059499,0.073450,0.784091
SeatComfortRating,0.781089,0.503226,0.677018,0.731344,1.000000,0.785058,0.753641,0.219496,0.544469,0.008175,...,0.019448,0.021866,-0.008048,-0.238828,0.077740,0.041541,-0.042817,-0.059515,0.069651,0.715250
ServiceRating,0.782011,0.458833,0.693567,0.732151,0.785058,1.000000,0.743146,0.194981,0.542684,0.013286,...,0.021162,0.021895,-0.014090,-0.212107,0.060700,0.031229,-0.033380,-0.062762,0.067916,0.723518
ValueRating,0.905319,0.447490,0.662131,0.802733,0.753641,0.743146,1.000000,0.167959,0.608918,0.013557,...,0.020875,0.026071,-0.018927,-0.178204,0.041481,0.014785,-0.034004,-0.058301,0.087363,0.854602
WifiRating,0.180042,0.430914,0.285904,0.176521,0.219496,0.194981,0.167959,1.000000,0.131047,0.008377,...,-0.003104,0.007351,-0.005173,-0.117789,0.070918,0.035647,-0.024715,0.014376,-0.005929,0.147662
Polarity,0.655100,0.335196,0.496225,0.573583,0.544469,0.542684,0.608918,0.131047,1.000000,0.014847,...,0.015831,0.014618,-0.018942,-0.161547,0.052968,0.019963,-0.029780,-0.041750,0.057899,0.621549
month_2,0.014867,0.004342,0.009829,0.015426,0.008175,0.013286,0.013557,0.008377,0.014847,1.000000,...,-0.083259,-0.079489,-0.088547,0.000003,-0.003866,0.002547,0.012466,-0.020042,-0.002058,0.013701
month_3,-0.004965,-0.009230,-0.016895,-0.007116,-0.015506,-0.014029,-0.003421,-0.000409,0.003007,-0.081946,...,-0.090351,-0.086260,-0.096090,0.001136,-0.004035,0.007459,0.007756,-0.011875,0.002937,-0.002428
month_4,-0.014241,-0.006704,-0.016503,-0.014454,-0.021172,-0.021799,-0.014519,-0.005001,-0.010066,-0.078772,...,-0.086852,-0.082919,-0.092369,0.007044,-0.006960,-0.002678,-0.002065,0.006687,-0.006921,-0.012060
month_5,0.001948,-0.003774,-0.001419,0.000141,-0.000357,-0.002193,0.002010,-0.002605,0.002336,-0.075314,...,-0.083038,-0.079278,-0.088313,-0.006056,-0.001386,0.011120,0.001572,-0.021275,0.007671,0.003956
month_6,-0.019484,-0.005508,-0.013047,-0.018489,-0.010869,-0.009093,-0.015888,0.001465,-0.006866,-0.084778,...,-0.093473,-0.089241,-0.099411,0.005485,0.012056,-0.001000,-0.013331,0.023098,-0.015109,-0.016996
month_7,-0.032415,-0.020213,-0.022911,-0.035085,-0.026013,-0.024725,-0.033680,-0.006634,-0.022641,-0.091104,...,-0.100448,-0.095900,-0.106829,0.016421,0.001114,-0.009121,-0.025088,0.052478,-0.010097,-0.028611
month_8,-0.006745,-0.005017,-0.002062,-0.007950,0.002270,-0.002855,-0.008639,0.004489,-0.007347,-0.089378,...,-0.098545,-0.094083,-0.104804,0.017097,-0.001611,-0.017007,-0.021522,0.051362,-0.010003,-0.005088
month_9,0.022262,0.004970,0.016736,0.022740,0.018308,0.022408,0.021729,-0.001836,0.015299,-0.082601,...,-0.091073,-0.086949,-0.096858,-0.006848,0.000279,-0.001124,0.032221,-0.037557,-0.001478,0.018913
month_10,0.022316,0.008521,0.016032,0.024938,0.019448,0.021162,0.020875,-0.003104,0.015831,-0.083259,...,1.000000,-0.087642,-0.097629,-0.008857,-0.002432,-0.001129,0.015532,-0.027192,-0.007615,0.018242
month_11,0.025992,0.016433,0.017355,0.026778,0.021866,0.021895,0.026071,0.007351,0.014618,-0.079489,...,-0.087642,1.000000,-0.093209,-0.010959,0.006608,0.001904,0.002882,-0.035872,0.014790,0.023277
month_12,-0.018299,-0.005628,-0.007662,-0.015618,-0.008048,-0.014090,-0.018927,-0.005173,-0.018942,-0.088547,...,-0.097629,-0.093209,1.000000,-0.001555,0.001420,0.007503,-0.008787,0.015702,0.014835,-0.017930
cabin_Economy Class,-0.215712,-0.258363,-0.276416,-0.205370,-0.238828,-0.212107,-0.178204,-0.117789,-0.161547,0.000003,...,-0.008857,-0.010959,-0.001555,1.000000,-0.296491,-0.432242,-0.004442,0.107446,0.042403,-0.189965
cabin_First Class,0.056554,0.060141,0.070123,0.061486,0.077740,0.060700,0.041481,0.070918,0.052968,-0.003866,...,-0.002432,0.006608,0.001420,-0.296491,1.000000,-0.026534,-0.005478,-0.025947,-0.005587,0.046493
cabin_Premium Economy,0.029698,0.078194,0.044804,0.041396,0.041541,0.031229,0.014785,0.035647,0.019963,0.002547,...,-0.001129,0.001904,0.007503,-0.432242,-0.026534,1.000000,0.026851,-0.024964,-0.021970,0.019019
travel_Couple Leisure,-0.040269,-0.021610,-0.035256,-0.031606,-0.042817,-0.033380,-0.034004,-0.024715,-0.029780,0.012466,...,0.015532,0.002882,-0.008787,-0.004442,-0.005478,0.026851,1.000000,-0.314302,-0.450811,-0.045006
travel_Family Leisure,-0.062046,-0.024287,-0.054371,-0.059499,-0.059515,-0.062762,-0.058301,0.014376,-0.041750,-0.020042,...,-0.027192,-0.035872,0.015702,0.107446,-0.025947,-0.024964,-0.314302,1.000000,-0.400561,-0.056316
travel_Solo Leisure,0.088078,0.026909,0.055997,0.073450,0.069651,0.067916,0.087363,-0.005929,0.057899,-0.002058,...,-0.007615,0.014790,0.014835,0.042403,-0.005587,-0.021970,-0.450811,-0.400561,1.000000,0.091009
rec_yes,0.912478,0.420371,0.645304,0.784091,0.715250,0.723518,0.854602,0.147662,0.621549,0.013701,...,0.018242,0.023277,-0.017930,-0.189965,0.046493,0.019019,-0.045006,-0.056316,0.091009,1.000000

In [12]:
# create X and y dataframes for model, dropping high cardinality categorical fields and highly correlated fields
X = reviews.drop(['AirlineName', 'DateFlown', 'OriginCity', 'DestinationCity', 'Review', 'OverallScore', 'Polarity',\
                 'FoodRating', 'GroundServiceRating', 'SeatComfortRating', 'ServiceRating', 'rec_yes'], axis = 1)
y = reviews['OverallScore'].astype(int)

In [13]:
# explore independent variables
X.head()

,EntertainmentRating,ValueRating,WifiRating,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,cabin_Economy Class,cabin_First Class,cabin_Premium Economy,travel_Couple Leisure,travel_Family Leisure,travel_Solo Leisure
0,0,3,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1
1,0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
2,0,2,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,4,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [14]:
# explore target variable
y[:5]

0    9
1    1
2    1
3    2
4    9
Name: OverallScore, dtype: int32

In [22]:
# create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 10)

# ensure we have enough data to test
print(X_train.shape)
print(X_test.shape)

# initialize model
model = LinearRegression()

# fit model on training set
model.fit(X_train, y_train)

# predict on test set
predictions = model.predict(X_test)

# model evaluation
print('r2 score : ', r2_score(y_test, predictions))
print('mean squared error : ', mean_squared_error(y_test, predictions))
print('mean absolute error : ', mean_absolute_error(y_test, predictions))

(80858, 20)
(8985, 20)
r2 score :  0.8311680741956137
mean squared error :  1.9759235479697095
mean absolute error :  0.9112195121675005

In [16]:
pd.DataFrame(zip(X.columns, model.coef_), columns = ['Independent Variable', 'Coefficient'])\
.sort_values('Coefficient', ascending = False).reset_index(drop = True)

     Independent Variable  Coefficient
0             ValueRating     1.852491
1     EntertainmentRating     0.148045
2       cabin_First Class     0.081690
3                 month_2     0.072811
4                 month_9     0.068021
5                month_10     0.060796
6                 month_8     0.054281
7     travel_Solo Leisure     0.052675
8                month_11     0.039830
9                 month_5     0.036399
10                month_4     0.015259
11                month_3     0.014688
12                month_7     0.011211
13               month_12     0.010727
14             WifiRating    -0.005722
15  travel_Family Leisure    -0.039498
16                month_6    -0.041117
17  travel_Couple Leisure    -0.063686
18  cabin_Premium Economy    -0.142527
19    cabin_Economy Class    -0.417100